<div>
  <h1>Login</h1>
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <label for="username">Username:</label><br>
    <input type="text" id="username" class="form-control" [(ngModel)]="username" name="username" required
      minlength="4">
    <label for="password">Password:</label><br>
    <input type="password" id="password" class="form-control"
    [(ngModel)]="password" name="password"
    required minlength="4"><br>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Zaloguj się</button>
  </form>
</div>
