<button (click)="logout()">Wyloguj</button>
<section class="admin" *ngIf="!(checkIsAdmin() | async);" >
    <div>
        <h2>Dodawanie użytkownia</h2>
        <app-add-user></app-add-user>
    </div>
    </section>
<section  class="user">
    <div>
        <h2>Lista Muzyki</h2>
        <table>
          <thead>
            <tr>
              <th>Title</th>
              <th>Artist</th>
              <th>Album</th>
              <th>Genre</th>
              <th>Time</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let music of musicList">
              <td>{{ music.title }}</td>
              <td>{{ music.artist }}</td>
              <td>{{ music.album }}</td>
              <td>{{ music.genre }}</td>
              <td>{{ music.time }}</td>
            </tr>
          </tbody>
        </table>
      </div>
</section>
