
<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="app.component.css">
</head>
<body>
   <header>
       <nav>
           <div class="logo">
               <img src="./logo.png" alt="Logo">
           </div>
           <ul>
            <a>Info</a>
           
            <a routerLink="login-page" routerLinkActive="active" ariaCurrentWhenActive="page">Przejdź do strony logowania</a>
           </ul>
       </nav>
   </header>
   <p>MUZYCZNA BAZA DANYCH</p>
</body>
</html>
