<!DOCTYPE html>
<html>
<head>
   <title>Login Form</title>
   <link rel="stylesheet" type="text/css" href="./login-page.component.css">
</head>
<body>
    <h1>Login</h1>
   <form action="/login">
       <label for="username">Username:</label><br>
       <input type="text" id="username" name="username" required><br>
       <label for="password">Password:</label><br>
       <input type="password" id="password" name="password" required><br>
       <input type="submit" value="Login">
   </form>
</body>
</html>
