.login-container {
    width: 300px;
    padding: 16px;
    background-color: white;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid black;
    border-radius: 4px;
 }
 
 .login-container h2 {
    text-align: center;
    color: #333;
 }
 
 .login-container label {
    font-weight: bold;
 }
 
 .login-container input[type=text], .login-container input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
 }
 
 .login-container input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
 }
 
 .login-container input[type=submit]:hover {
    opacity: 0.8;
 }
 